.detalhes{
    font-family: 'Ubuntu';
}
.detalhes-restaurante {

    display: flex;
    flex-direction: column;
    justify-content: space-around;
	margin: 45px;
    margin-left: 20px;
    font-size: 15px;
}

.imgCategory {
	width: 100px;
    margin: 45px;
    margin-right: 0;	
}
.restaurante-title, .item-titulo{
    font-weight: bold;
}
.containerCategorias {
	display: flex;
	align-items: center;
	flex-direction: row;
	margin: 10px 5px 5px;
	cursor: pointer;
}
.containerCategorias{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
	margin: 45px;
    font-size: 15px;
}

.valor{
    display: flex;
    justify-content: right;
}

.container-detalhes {
    display: flex;
    flex-direction: row;
}

.restaurante-nota {
    color: #ED6E27;
}