.categorias .gridContainer {
	margin-top: 45px;
}

.categorias .textNames {
	text-align: center;
	font-size: 14px;
	background-color: lightgray;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	width: 100%;
}

.categorias .imgCategory {
	width: 100%;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

.categorias .containerCategorias {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin: 10px 5px 5px;
	cursor: pointer;
}
